AWS_PROFILE=training
AWS_REGION=eu-west-1
STACK_NAME=aws-devops-demo-codebuild
CODEBUILD_PROJECT_NAME=aws-devops-demo-build
GITHUB_REPOSITORY_URL=https://github.com/YOUR-USERNAME/aws-devops-demo.git
GITHUB_BRANCH=main
CODE_CONNECTION_ARN=arn:aws:codeconnections:REGION:ACCOUNT-ID:connection/CONNECTION-ID
CODEBUILD_IMAGE=aws/codebuild/standard:7.0
LOG_RETENTION_DAYS=14
